python-dateutil
lockfile
polib
psycopg2-binary >= 2.7
shapely >= 1.2
regex
requests
transporthours
pyproj >= 2.1.0
Unidecode
osmium
git+https://invent.kde.org/libraries/kopeninghours.git@83f1435
libarchive

# Tests
pytest
xmltodict
termcolor
pylama
mypy
