python-dateutil
lockfile
polib
psycopg2-binary >= 2.7
shapely >= 1.2
regex
requests
transporthours
pyproj >= 2.1.0
Unidecode
osmium >= 3.1.3
git+https://invent.kde.org/libraries/kopeninghours.git@v21.12.3
git+https://github.com/jocelynj/PyEasyArchive.git
protobuf < 4 # 4.x binary not yet compatible with system package, deps of vt2geojson
vt2geojson
tiletanic

# Tests
pytest
xmltodict
termcolor
pylama
mypy
types-certifi
types-pkg_resources
types-python-dateutil
types-requests
types-termcolor
types-toml
