version: '3.3'

services:
  postgis:
    image: mdillon/postgis:9.4-alpine
    volumes:
      - ./postgis-init.sh:/docker-entrypoint-initdb.d/postgis-init.sh
      #- ./postgresql-data:/var/lib/postgresql/data # To keep the data outside of container
    #tmpfs: /var/lib/postgresql/data # With tmpfs database is only on memory, lost on stop. Save SSD lifetime.

  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: osm-fr/osmose_backend
    depends_on:
      - postgis
    volumes:
      - ../osmose_config_password.py:/opt/osmose-backend/osmose_config_password.py
      - ./work:/data/work/osmose
    environment:
      - DB_HOST=postgis
    user: "1000:1000"
    command: ./osmose_run.py --country=monaco --analyser=osmosis_highway_floating_islands
