version: '3.3'

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        PIP_INSTALL: -r requirements-dev.txt
    volumes:
      - ..:/opt/osmose-backend
      - ../osmose_config_password-example.py:/opt/osmose-backend/osmose_config_password.py:ro
    command: bash
    environment:
      - DB_HOST=postgis
      - DB_BASE_TEST=osmose
