name: Poly

on:
  schedule:
  - cron: '0 4 * * 6'
  workflow_dispatch:

jobs:
  poly:
    if: github.repository == 'osm-fr/osmose-backend'
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install requests

    - name: Check polygons
      run: |
        python -m tools.test-polygons
